body {
    background-color:#6d2125;
    color:#9c9c9a;
    min-height:100%;
    font-family:"Moko";
}

label {
    font-weight:normal;
}

@font-face {
    font-family:"Noto Serif";
    src:url("{% static "NotoSerif-Regular.ttf" %}");
}

@font-face{
    font-family:"Moko";
    src:url("{% static "Moko-Regular.ttf" %}");
}

.nav {
}

.nav-inner {
    margin:0 10%;
}

.content{
    font-family:"Noto Serif";
    background-color:#798d93;
    color:#2d282e;
    margin:0 10% 5px;
}
