<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <title>{% block page_title %}Conversations{% endblock %}</title>
        <meta name="description" content="Django Powered Forum">

    </head>
    <body>
        {% block body %}
        {% block navbar %}
        <div class ="nav">
            <div class="nav-inner">
            </div>
        </div>
        {% endblock %}

        {% block content %}
        {% endblock %}
        {% endblock %}
    </body>
</html>
